[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telethon = "*"
requests = "*"
pytz = "*"
google-generativeai = "*"

[dev-packages]

[requires]
python_version = "3.13"
